html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: 1;
}
body {
    display: flex;
    min-height: 100vh;
}
footer {
    bottom: 0;
    left: 0;
    width: 100%;
}
.content {
    flex-grow: 1;
    background-color: #f8f9fa;
    overflow-y: auto;
    flex-direction: column;
}
select > option[value=""]:first-child {
    display: none;
}

@media print {
    .no-print {
        display: none !important;
    }
    body {
        display: block !important;
        background-color: #fff !important; 
    }
    .content {
        margin-left: 0 !important;
        padding: 0 !important;
        flex-grow: unset !important; 
    }
    .card {
        border: 1px solid #dee2e6 !important;
        box-shadow: none !important;
        page-break-inside: avoid; 
    }
    a {
        text-decoration: none !important;
        color: #000 !important;
    }
}